@import '_mixins';

footer{
    background-color: rgb(54, 54, 54);
    position: absolute;
    bottom: 0;

    width: 100%;

    .contenedor{
        display: flex;
        flex-direction: column;
        padding: 5px;

        @include telefono{
            flex-direction: row;
            flex: 1;
            background-color: red;
        }        
        
    }
}