<footer>
    <div class="contenedor">
        <div class="fila uno">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, error.</p>
        </div>
        <div class="fila dos">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, odit?</p>
        </div>
        <div class="fila tres">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, vel.</p>
        </div>
    </div>
</footer>