<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack workflow</title>
</head>
<body>
    
{{> partials/navigation}}

<div class="container">
    <div class="info">
        <h1 style="margin-top: 10%">Ejemplo de un workflow</h1>
        <p>hola mundo</p>
        <img src="./recursos/img/img.png" width="100%">
        <hr>
    </div>
</div>

{{> partials/footer}}